<% if @record.metadata.present? && @record.metadata["title"].present? %>
  <h2><%= @record.metadata["title"] %></h2>
  <p><%= @record.metadata["description"] %></p>
<% else %>
  <h2>URL</h2>
  <p><%= @record.url %></p>
<% end %>

<%= link_to "Back to organisation's records", organisation_path(@record.organisation) %>

<h3>Metadata</h3>
<pre>
<%= JSON.pretty_generate(@record.metadata) if @record.metadata.present? %>
</pre>

<h3>Specification</h3>
<pre>
<%= @record.specification %>
</pre>


  <%= button_to "Update Record", @record, method: :patch %>

</div>

<h3>Process Reports</h3>
<% @record.process_reports.each do |process_report| %>

<h4><%= process_report.title %></h4>
<p><%= process_report.detail %></p>

<% end %>
